.button {
  background: none;
  outline: none;
  border: none;
  color: $dark-gray;
  font-family: 'Open Sans';
  font-size: 0.875rem;
  
  &.primary {
    background: $primary;
    color: $white;
    border: none;
    padding: .5rem 1rem;
    border-radius: .3rem;
  }

  &.secondary {
    background: $gray;
    color: $black;
    border: none;
    padding: .5rem 1rem;
    border-radius: .3rem;
  }

  &.round {
    height: 3rem;
    width: 3rem;
    border-radius: 3rem;

    i {
      font-size: 1rem;
    }
  }
}