.task {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem 1rem 1.5rem;
  
  &.completed {
    & > label {
      color: darken($color: $light-gray, $amount: 5);
      text-decoration: line-through;
    }
  }

  & > label {
    margin: 0 .75rem 0 .75rem;
  }

  input {
    cursor: pointer;
  }
}