.modal {
  padding: 1.5rem;
  border-radius: 1.5rem;
  position: fixed;
  z-index: 3;
  background-color: $white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  margin-top: 10rem;
  width: 100%;
  max-width: 450px;
  transition: visbility 250ms ease-in-out;

  &.hidden {
    visibility: hidden;
  }
  
  &.bottom {
    bottom: -1rem;
    width: 100%;
    transition: bottom 250ms ease-in-out;
    max-width: 1080px;

    &.hidden {
      bottom: -30rem
    }
  }

  &__header {
    display: flex;

    .button {
      margin-right: .75rem;
    }
  }

  
  &__title {
    font-size: 1rem;
    color: $dark-gray;
    font-weight: 600;
  }

  &__body {
    padding: 1.5rem 0;
  }

  &__footer {
    padding-bottom: 1rem;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;

    .button {
      margin-right: .5rem;
    }
  }
}

@media(min-width: 450px) {
  .modal {
    left: 50%;
    margin-left: -225px;
  }
}

@media(min-width: 1080px) {
  .modal.bottom {
    left: 50%;
    margin-left: -540px;
  }
}
