.header {
  padding: 1rem 1.5rem;
  background: #FFFFFF;
}

.header h2 {
  font-size: 1.25rem;
  font-weight: 400;
  color: #683EAE;
}

.nav-links {
  margin-left: .75rem;
}

.nav-links a {
  color: #ccc;
  display: inline-flex;
  padding: 0 1rem 0 1rem;
}

.nav-links a:hover {
  color: #999;
}