
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: visibility 250ms, opacity 250ms ease;

  &::after {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.4);
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

