.todoItem {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem 1rem 1.5rem;
  
  &.completed {
    color: $gray;
    background-color: $light-gray;

    label {
      text-decoration: line-through;
    }
  }

  .deleteButton {
    display: none;
    background: #fafafa;
    color: #ccc;
    padding: .5rem;
    border-radius: 2.5rem;
    position: absolute;

    &:hover {
      color: #999;
      background-color: #eee;
    }
  }

  label {
    margin: 0 .75rem 0 .75rem;
  }

  input {
    cursor: pointer;
  }
}